body {
    background-color: #BCA560;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    margin: 0; 
    flex-direction: column;
}

* {
    font-family: "Jaro", sans-serif;
}
h1 {

}
p {
    color: rgb(28, 25, 29);
}
img {
    width: 700px;
    height: 700px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
